
.AF {
  background-position: -0px 0;
}

.AL {
  background-position: -40px 0;
}

.DZ {
  background-position: -80px 0;
}

.AS {
  background-position: -120px 0;
}

.AD {
  background-position: -160px 0;
}

.AO {
  background-position: -200px 0;
}

.AI {
  background-position: -240px 0;
}

.AG {
  background-position: -280px 0;
}

.AR {
  background-position: -320px 0;
}

.AM {
  background-position: -360px 0;
}

.AW {
  background-position: -400px 0;
}

.AS {
  background-position: -440px 0;
}

.AU {
  background-position: -480px 0;
}

.AT {
  background-position: -520px 0;
}

.AZ {
  background-position: -560px 0;
}

.BS {
  background-position: -600px 0;
}

.BH {
  background-position: -640px 0;
}

.BD {
  background-position: -680px 0;
}

.BB {
  background-position: -720px 0;
}

.BY {
  background-position: -760px 0;
}

.BE {
  background-position: -800px 0;
}

.BZ {
  background-position: -840px 0;
}

.BJ {
  background-position: -880px 0;
}

.BM {
  background-position: -920px 0;
}

.BT {
  background-position: -960px 0;
}

.BO {
  background-position: -1000px 0;
}

.BA {
  background-position: -1040px 0;
}

.BW {
  background-position: -1080px 0;
}

.BR {
  background-position: -1120px 0;
}

.VG {
  background-position: -1160px 0;
}

.BN {
  background-position: -1200px 0;
}

.BG {
  background-position: -1240px 0;
}

.BF {
  background-position: -1280px 0;
}

.BI {
  background-position: -1320px 0;
}

.KH {
  background-position: -1360px 0;
}

.CM {
  background-position: -1400px 0;
}

.CA {
  background-position: -1440px 0;
}

.CV {
  background-position: -1480px 0;
}

.KY {
  background-position: -1520px 0;
}

.CF {
  background-position: -1560px 0;
}

.TD {
  background-position: -1600px 0;
}

.CL {
  background-position: -1640px 0;
}

.CN {
  background-position: -1680px 0;
}

.CO {
  background-position: -1720px 0;
}

.KM {
  background-position: -1760px 0;
}

.CG {
  background-position: -1800px 0;
}

.CK {
  background-position: -1840px 0;
}

.CR {
  background-position: -1880px 0;
}

.CI {
  background-position: -1920px 0;
}

.HR {
  background-position: -1960px 0;
}

.CU {
  background-position: -2000px 0;
}

.CY {
  background-position: -2040px 0;
}

.CZ {
  background-position: -2080px 0;
}

.CD {
  background-position: -2120px 0;
}

.DK {
  background-position: -2160px 0;
}

.DJ {
  background-position: -2200px 0;
}

.DM {
  background-position: -2240px 0;
}

.DO {
  background-position: -2280px 0;
}

.EC {
  background-position: -2320px 0;
}

.EG {
  background-position: -2360px 0;
}

.SV {
  background-position: -2400px 0;
}

.GQ {
  background-position: -2440px 0;
}

.ER {
  background-position: -2480px 0;
}

.EE {
  background-position: -2520px 0;
}

.ET {
  background-position: -2560px 0;
}

.FK {
  background-position: -2600px 0;
}

.FO {
  background-position: -2640px 0;
}

.FJ {
  background-position: -2680px 0;
}

.FI {
  background-position: -2720px 0;
}

.FR {
  background-position: -2760px 0;
}

.GF {
  background-position: -2800px 0;
}

.PF {
  background-position: -2840px 0;
}

.WI {
  background-position: -2880px 0;
}

.GA {
  background-position: -2920px 0;
}

.GM {
  background-position: -2960px 0;
}

.GE {
  background-position: -3000px 0;
}

.DE {
  background-position: -3040px 0;
}

.GH {
  background-position: -3080px 0;
}

.GI {
  background-position: -3120px 0;
}

.GR {
  background-position: -3160px 0;
}

.GL {
  background-position: -3200px 0;
}

.GD {
  background-position: -3240px 0;
}

.GP {
  background-position: -3280px 0;
}

.GU {
  background-position: -3320px 0;
}

.GT {
  background-position: -3360px 0;
}

.GH {
  background-position: -3400px 0;
}

.GN {
  background-position: -3440px 0;
}

.GW {
  background-position: -3480px 0;
}

.GY {
  background-position: -3520px 0;
}

.HT {
  background-position: -3560px 0;
}

.HN {
  background-position: -3600px 0;
}

.HK {
  background-position: -3640px 0;
}

.HU {
  background-position: -3680px 0;
}

.IS {
  background-position: -3720px 0;
}

.IN {
  background-position: -3760px 0;
}

.ID {
  background-position: -3800px 0;
}

.IR {
  background-position: -3840px 0;
}

.IQ {
  background-position: -3880px 0;
}

.IE {
  background-position: -3920px 0;
}

.IM {
  background-position: -3960px 0;
}

.IL {
  background-position: -4000px 0;
}

.IT {
  background-position: -4040px 0;
}

.JM {
  background-position: -4080px 0;
}

.JP {
  background-position: -4120px 0;
}

.JE {
  background-position: -4160px 0;
}

.JO {
  background-position: -4200px 0;
}

.KZ {
  background-position: -4240px 0;
}

.KE {
  background-position: -4280px 0;
}

.KI {
  background-position: -4320px 0;
}

.KW {
  background-position: -4360px 0;
}

.KG {
  background-position: -4400px 0;
}

.LA {
  background-position: -4440px 0;
}

.LV {
  background-position: -4480px 0;
}

.LB {
  background-position: -4520px 0;
}

.LS {
  background-position: -4560px 0;
}

.LR {
  background-position: -4600px 0;
}

.LY {
  background-position: -4640px 0;
}

.LI {
  background-position: -4680px 0;
}

.LT {
  background-position: -4720px 0;
}

.LU {
  background-position: -4760px 0;
}

.MO {
  background-position: -4800px 0;
}

.MK {
  background-position: -4840px 0;
}

.MG {
  background-position: -4880px 0;
}

.MW {
  background-position: -4920px 0;
}

.MY {
  background-position: -4960px 0;
}

.MV {
  background-position: -5000px 0;
}

.ML {
  background-position: -5040px 0;
}

.MT {
  background-position: -5080px 0;
}

.MQ {
  background-position: -5120px 0;
}

.MR {
  background-position: -5160px 0;
}

.MU {
  background-position: -5200px 0;
}

.YT {
  background-position: -5240px 0;
}

.MX {
  background-position: -5280px 0;
}

.FM {
  background-position: -5320px 0;
}

.MD {
  background-position: -5360px 0;
}

.MC {
  background-position: -5400px 0;
}

.MN {
  background-position: -5440px 0;
}

.ME {
  background-position: -5480px 0;
}

.MS {
  background-position: -5520px 0;
}

.MA {
  background-position: -5560px 0;
}

.MZ {
  background-position: -5600px 0;
}

.MM {
  background-position: -5640px 0;
}

.NA {
  background-position: -5680px 0;
}

.NR {
  background-position: -5720px 0;
}

.NP {
  background-position: -5760px 0;
}

.NL {
  background-position: -5800px 0;
}

.AN {
  background-position: -5840px 0;
}

.NC {
  background-position: -5880px 0;
}

.NZ {
  background-position: -5920px 0;
}

.NI {
  background-position: -5960px 0;
}

.NE {
  background-position: -6000px 0;
}

.NG {
  background-position: -6040px 0;
}

.NU {
  background-position: -6080px 0;
}

.NF {
  background-position: -6120px 0;
}

.KP {
  background-position: -6160px 0;
}

.MP {
  background-position: -6200px 0;
}

.NO {
  background-position: -6240px 0;
}

.OM {
  background-position: -6280px 0;
}

.PK {
  background-position: -6320px 0;
}

.PW {
  background-position: -6360px 0;
}

.PS {
  background-position: -6400px 0;
}

.PA {
  background-position: -6440px 0;
}

.PG {
  background-position: -6480px 0;
}

.PY {
  background-position: -6520px 0;
}

.PE {
  background-position: -6560px 0;
}

.PH {
  background-position: -6600px 0;
}

.PL {
  background-position: -6640px 0;
}

.PT {
  background-position: -6680px 0;
}

.PR {
  background-position: -6720px 0;
}

.QA {
  background-position: -6760px 0;
}

.CG {
  background-position: -6800px 0;
}

.RO {
  background-position: -6840px 0;
}

.RU {
  background-position: -6880px 0;
}

.RW {
  background-position: -6920px 0;
}

.RE {
  background-position: -6960px 0;
}

.MF {
  background-position: -7000px 0;
}

.LC {
  background-position: -7040px 0;
}

.MF {
  background-position: -7080px 0;
}

.PM {
  background-position: -7120px 0;
}

.VC {
  background-position: -7160px 0;
}

.WS {
  background-position: -7200px 0;
}

.SM {
  background-position: -7240px 0;
}

.ST {
  background-position: -7280px 0;
}

.SA {
  background-position: -7320px 0;
}

.SN {
  background-position: -7360px 0;
}

.RS {
  background-position: -7400px 0;
}

.SC {
  background-position: -7440px 0;
}

.SL {
  background-position: -7480px 0;
}

.SG {
  background-position: -7520px 0;
}

.SK {
  background-position: -7560px 0;
}

.SI {
  background-position: -7600px 0;
}

.SB {
  background-position: -7640px 0;
}

.SO {
  background-position: -7680px 0;
}

.ZA {
  background-position: -7720px 0;
}

.KR {
  background-position: -7760px 0;
}

.SS {
  background-position: -7800px 0;
}

.ES {
  background-position: -7840px 0;
}

.LK {
  background-position: -7880px 0;
}

.SL {
  background-position: -7920px 0;
}

.KN {
  background-position: -7960px 0;
}

.VC {
  background-position: -8000px 0;
}

.SD {
  background-position: -8040px 0;
}

.SR {
  background-position: -8080px 0;
}

.SZ {
  background-position: -8120px 0;
}

.SE {
  background-position: -8160px 0;
}

.CH {
  background-position: -8200px 0;
}

.SY {
  background-position: -8240px 0;
}

.TW {
  background-position: -8280px 0;
}

.TJ {
  background-position: -8320px 0;
}

.TZ {
  background-position: -8360px 0;
}

.TH {
  background-position: -8400px 0;
}

.TL {
  background-position: -8440px 0;
}

.TG {
  background-position: -8480px 0;
}

.TO {
  background-position: -8520px 0;
}

.TT {
  background-position: -8560px 0;
}

.TN {
  background-position: -8600px 0;
}

.TR {
  background-position: -8640px 0;
}

.TM {
  background-position: -8680px 0;
}

.TC {
  background-position: -8720px 0;
}

.TV {
  background-position: -8760px 0;
}

.UG {
  background-position: -8800px 0;
}

.UA {
  background-position: -8840px 0;
}

.AE {
  background-position: -8880px 0;
}

.GB {
  background-position: -8920px 0;
}

.US {
  background-position: -8960px 0;
}

.VI {
  background-position: -9000px 0;
}

.UY {
  background-position: -9040px 0;
}

.VI {
  background-position: -9080px 0;
}

.UZ {
  background-position: -9120px 0;
}

.VU {
  background-position: -9160px 0;
}

.VE {
  background-position: -9200px 0;
}

.VN {
  background-position: -9240px 0;
}

.YE {
  background-position: -9280px 0;
}

.ZM {
  background-position: -9320px 0;
}

.ZW {
  background-position: -9360px 0;
}
